# =========================
# Dependencies
# =========================
node_modules/
**/node_modules/

.pnp
.pnp.js

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# =========================
# Environment Variables
# =========================
.env
.env.*
**/.env
**/.env.*
.editorconfig

.env.example
.env.sample

# =========================
# Build / Production
# =========================
dist/
build/
.next/
out/
coverage/
.turbo/

**/dist/
**/build/
**/.next/
**/out/
**/coverage/

# =========================
# Logs
# =========================
*.log
logs/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Cache / Temp
# =========================
.cache/
.temp/
tmp/
temp/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

*.swp
*.swo
*~

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker / Runtime
# =========================
*.pid
*.seed
*.pid.lock

# =========================
# Misc
# =========================
*.tsbuildinfo
.vercel/